:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --primary-color: #EE4D2D;

    /* Header */
    --header-height: 120px;
    --navbar-height: 27px;
    --header-main-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.mt-4 {
    margin-top: 4px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-48 {
    margin-top: 48px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mr-4 {
    margin-right: 4px;
}

.mlr-4 {
    margin: 0 4px;
}

.pt-20 {
    padding-top: 20px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.font-500 {
    font-weight: 500 !important;
}

/* btn */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 142px;
    height: 40px;
    border-radius: 2px;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--white-color);
}

.btn:hover {
    opacity: .9;
    background-color: #f8f8f8;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    cursor: default;
    opacity: .5;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Before Padding Part */
.padding-part::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
}

/* Price */
.price {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 8px;
    color: #ee4d2d;
    position: relative;
    cursor: text;
}

.price-icon {
    position: absolute;
    left: -8px;
    bottom: calc(100% - 15px);
    font-size: .9rem;
    user-select: none;
}

.price-old {
    position: relative;
    color: #777;
    font-size: 1.15rem;
    z-index: 1;
}

.price-old::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 9px);
    height: .1px;
    background-color: var(--black-color);
    z-index: 1;
}

/* Selection */
.select-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 180px;
    min-height: 34px;
    height: 100%;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: pointer;
}

.select-input::before {
    top: 100%;
    left: 0;
    height: 6px;
    display: none;
}

.select-input:hover::before {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.2rem;
}

.select-input__list {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    padding: 8px 0;
    animation: fadeIn ease-in .2s;
    z-index: 1;
    display: none;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__link {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 16px;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/*  */
.rating {
    font-size: .8rem;
    color: #d5d5d5;
    cursor: pointer;
    user-select: none;
}

.rating-icon--active {
    color: #ffce3d;
}

.sold-items {
    color: var(--text-color);
    font-size: 1.28rem;
    margin-left: 6px;
    cursor: text;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

.pagination-item__link {
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.pagination-item__icon {
    font-size: 1.4rem;
}