/* Mobile and tablet */
@media (max-width: 63.96875em) {
    .app {
        -webkit-tap-highlight-color: transparent;
    }

    .m-c-pt-8 {
        padding-top: 8px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9;
    }

    .header__search {
        margin-bottom: 0;
    }

    .header__cart-list {
        top: calc(100% + 11px);
    }

    .header__sort-bar {
        display: flex;
    }

    #container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .mobile-category {
        display: block;
    }
}

/* Mobile */
@media (max-width: 47.96875em) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
        animation: mobileSearchSideIn linear .3s;
        z-index: 1;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }

        to {
            opacity: 1;
            top: var(--header-height);
        }
    }

    .header__search-main {
        height: 46px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height) + 4px);
        left: 0;
        width: 100%;
    }

    .header__search-option {
        top: calc(100% + 14px);
    }

    .header__logo-img {
        width: 80%;
    }

    .header__cart-icon,
    .header__mobile-search-icon {
        font-size: 1.8rem;
    }

    .header__cart-quantity {
        font-size: 1rem;
        padding: 1px 5px 0;
    }

    .mobile-category__list {
        margin: 0 8px;
    }

    .shop-product-item {
        margin-top: 8px;
    }

    .footer__heading {
        text-align: center;
    }

    .footer-item {
        text-align: center;
    }

    .footer__download {
        justify-content: center;
    }
}

/* L Mobile: width > 375px and width <= 425px (min-width: 376px) and (max-width: 426px) */
@media (min-width: 23.5em) and (max-width: 26.625em) {
    .header__cart-list {
        max-width: 340px;
    }
}

/* M Mobile: width > 320px and width <= 375px (min-width: 321px) and (max-width: 376px) */
@media (min-width: 20.0625em) and (max-width: 23.5em) {
    .header__cart-list {
        max-width: 300px;
    }

    .header__cart-btn-text {
        padding-right: 8px;
        line-height: 2rem;
    }
}

/* S Mobile: width <= 320px (max-width: 321px) */
@media (max-width: 20.0625em) {
    .header__cart-list {
        max-width: 260px;
    }

    .header__cart-btn-text {
        line-height: 2rem;
    }
}

/* Tablet */
@media (min-width: 48em) and (max-width: 63.96875em) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }
}